.list-card{
  /* margin: -16px; */
  width: 100%;
}
.list-card .card-item{
  margin: 16px;
  max-width: calc(100% / 3 - 32px);
}

@media screen and (max-width: 768px){
  .list-card .card-item{
    margin: 16px 8px;
    max-width: calc(100% / 2 - 16px);
  }
}

@media screen and (max-width: 564px){
  .list-card .card-item{
    max-width: 100%;
    width: 100%;
  }
}